@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(220, 235, 248);
}

.sitebar{
    background-image: url('../public/assets/bg-sidebar-desktop.svg');
    background-size: cover;
    background-position: bottom;
    height: 80vh;
    border-radius: 10px;
}